:root {
  --dark-moss2: #1c1e14;
  --dark-moss: #3d4820;
  --moss: #5f6f29;
  --muted-chartreuse2: #a1b06b;
  --muted-chartreuse: #b7c492;
}

hr {
  height: 1px;
  background-color: #1c1e14;
  width: 100%;
  border: none;
}
summary {
  cursor: pointer;
  outline: none;
}

.details {
  word-break: break-word;
  margin: 0;
  padding: 10px 0;
}

.title {
  /* margin: 0;
  padding-bottom: 30px; */
  margin: 0;
  padding: 0;
  color: var(--muted-chartreuse);
  margin-bottom: 1rem;
}

.wrapperMain {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: fit-content;
  width: 100%;
}

.wrapperPoll {
  /* background: linear-gradient(var(--moss), var(--dark-moss), var(--dark-moss2)); */
  color: aliceblue;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--muted-chartreuse);
  border-radius: 100px 10px;
  box-shadow: 0 0 4px whitesmoke;
  height: auto;
  width: 100%;
  max-width: 16rem;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
  font-size: larger;
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5rem; /* Downsize the font so it fits neatly! */
  }
}
