.title {
  /* margin: 0;
  padding-bottom: 30px; */
  margin: 0;
  padding: 0;
  color: #d7ee99;
  margin-bottom: 1.5rem;
}

.wrapperMain {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 100vh;
  width: 100%;
}

.wrapperPoll {
  background: linear-gradient(var(--moss), var(--dark-moss), var(--dark-moss2));
  color: aliceblue;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--muted-chartreuse);
  border-radius: 100px 10px;
  box-shadow: 0 0 4px whitesmoke;
  height: auto;
  width: 100%;
  max-width: 16rem;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
  font-size: larger;
  animation: diagonalReveal 0.7s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.inputWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.input {
  border-radius: 5px;
  width: 100%;
  padding: 12px;
  border: 2px solid var(--muted-chartreuse2);
  font-size: 14px;
  background-color: var(--muted-chartreuse);
  box-sizing: border-box;
  outline: none;
}

textarea {
  border-radius: 5px;
  width: 100%;
  padding: 12px;
  border: 2px solid var(--muted-chartreuse2);
  font-size: 14px;
  background-color: var(--muted-chartreuse);
  box-sizing: border-box;
  outline: none;
  resize: none;
  min-height: 5rem;
}

.submit {
  height: 2rem;
  width: 8rem;
  border-radius: 5px;
  border: 2px solid var(--dark-moss2);
  outline: none;
  background-color: var(--muted-chartreuse);
  cursor: pointer;
}

.submit:hover {
  background-color: var(--muted-chartreuse2);
}

input:focus {
  box-shadow: 0 0 4px rgb(184, 184, 184);
}

textarea:focus {
  box-shadow: 0 0 3px whitesmoke;
}

.submit:focus {
  box-shadow: 0 0 3px whitesmoke;
}

@keyframes diagonalReveal {
  0% {
    clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5rem; /* Downsize the font so it fits neatly! */
  }
}
