.form {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  padding-top: 20px;
  border-top: 2px solid black;
}

.input {
  width: 42vw;
  height: 2rem;
  margin-bottom: 30px;
}

.input:hover {
  box-shadow: 0 0 10px palegreen;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 10px palegreen;
}

.button {
  width: fit-content;
  height: 2.5rem;
  margin-bottom: 10px;
  background-color: var(--muted-chartreuse2);
  border-radius: 5px;
  border: 1px solid var(--moss);
  width: 4.5vw;
}

.button:hover {
  background-color: var(--muted-chartreuse);
}

.button:focus {
  background-color: var(--muted-chartreuse);
  outline: none;
}
