.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: var(--bg);
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.messagesWrapper {
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 0;
}

.pollWrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  /* height: fit-content; */
  /* opacity: 0; */
}

.submit {
  position: relative;
  z-index: 10;
  margin-bottom: 10px;
  height: 29px;
  background-color: var(--muted-chartreuse2);
  border-radius: 5px;
  border: 1px solid var(--moss);
}

.submit:hover {
  background-color: var(--muted-chartreuse);
}

.submit:focus {
  background-color: var(--muted-chartreuse);
  outline: none;
}

/* .pollSelect {
  appearance: none;
  position: absolute;
  pointer-events: none;
  padding: 10px;
  top: 900px;
  left: 540px;
  opacity: 0;
} */

.popUp {
  position: relative;
}

/* .stylesWrapper {
  position: absolute;
  top: 300px;
} */

.anchor {
  display: inline-block;
  position: relative;
}
