.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.room {
  height: 10vh;
}

.header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.filler {
  flex: 1;
  background-color: whitesmoke;
}

.add {
}
